coffeex.py
coinparser.py
data-parser/
decorators/
terminal_emulator/
calculate.py
daniil.py
easy_example.py
habr.py
qweee.py
uterm.py
test.py
utermx.py


.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

*.pot
*.pyc
__pycache__
*.bak

.idea/*
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/gradle.xml
.idea/**/libraries
*.iws /out/

*.py[cod]
*$py.class

.python-version
